* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 30%;
    height: auto;
    margin: 40px;
}

input,
textarea {

    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 5px rgba(48, 76, 29, 0.8);
    border-radius: 5px;

}


::placeholder{
    
    color: rgba(48, 76, 29, 0.4);
    font-family: 'verdana';
    
}

.form_button{
    
    width: 200px;
    margin: auto;
    display: block; 
    animation: 1s;
}

.form_button:hover{ 
    background-color: #7de926; 
}

.form_button:active{
    
    box-shadow: none;
}









